@charset "UTF-8";
body {
  margin: 0;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.section-title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header-style {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__position {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__web {
  color: #2196f3;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
}

.site-nav__link:hover {
  color: #2196f3;
}

.site-nav__link:focus {
  color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__mail,
.contacts__tel {
  display: flex;
  align-items: center;
}

.contacts__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail {
  /* outline: 2px solid tomato; */
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover .contacts__icon-mail,
.contacts__mail:focus .contacts__icon-mail,
.contacts__mail:hover .contacts__icon-mail,
.contacts__mail:focus .contacts__icon-mail {
  fill: #2196f3;
}

.contacts__mail:hover, .contacts__mail:focus {
  color: #2196f3;
}

.contacts__tel:hover .contacts__icon-tel,
.contacts__tel:focus .contacts__icon-tel,
.contacts__tel:hover .contacts__icon-tel,
.contacts__tel:focus .contacts__icon-tel {
  fill: #2196f3;
}

.contacts__tel:hover, .contacts__tel:focus {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover:hover, .hero__button:hover:focus,
.hero__button:focus:hover,
.hero__button:focus:focus {
  background-color: #188ce8;
  border-color: #ffffff;
}

.section-peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities {
  display: flex;
}

.peculiarities__item {
  width: 270px;
}

.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
}

.peculiarities__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.peculiarities__discription {
  padding: 0;
  margin: 0;
  line-height: 1.71;
  color: #757575;
}

.section-works {
  padding-bottom: 90px;
}

.work {
  display: flex;
}

.work__img {
  display: block;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work__discription {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list-card {
  display: flex;
}

.team__card {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__image {
  display: block;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__card-disc {
  padding: 30px;
}

.team__user-name {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__user-name-discription {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__list-network {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.team__list-network--list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.team__network-item:not(:last-child) {
  margin-right: 10px;
}

.team__link-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-network {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link-network:hover .team__icon-network,
.team__link-network:focus .team__icon-network {
  fill: #ffffff;
}

.team__link-network:hover:hover, .team__link-network:hover:focus,
.team__link-network:focus:hover,
.team__link-network:focus:focus {
  background-color: #2196f3;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  margin: 0;
  padding: 0;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo-address {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__adress {
  font-style: normal;
}

.adress__mail {
  display: inline-block;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  color: #ffffff;
  text-decoration: none;
  line-height: 1.71;
}

.adress__mail,
.adress__tel {
  color: #757575;
  text-decoration: none;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__mail:hover, .adress__mail:focus {
  color: #2196f3;
}

.adress__tel:hover, .adress__tel:focus {
  color: #2196f3;
}

.conteiner--social-icons {
  display: flex;
  align-items: baseline;
}

.social-links-list {
  display: flex;
}

.social-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  /* outline: 1px solid tomato; */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list__items:not(:last-child) {
  margin-right: 10px;
}

.social-links__title,
.footer-subscribe__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-links-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-links-list__link:hover, .social-links-list__link:focus {
  background-color: #2196f3;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
}

.footer-subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-form__input:hover, .footer-subscribe-form__input:focus {
  border-color: #ffffff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #f5f4fa;
  border-color: transparent;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button__icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #f5f4fa;
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: #188ce8;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtr {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  /* outline: 2px solid tomato; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.filtr__item {
  margin-right: 8px;
}

.filtr__item:last-child {
  margin-right: 0;
}

.filtr-btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  border-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-btn--active:hover, .filtr-btn--active:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr-btn--activ:active {
  background-color: #2196f3;
  color: #ffffff;
}

.work-list-pages {
  display: flex;
  flex-wrap: wrap;
}

.work-list-pages__item-discript {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-list-pages > .work-list-pages__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list-pages > .work-list-pages__item:nth-child(3n) {
  margin-right: 0;
}

.work-list-pages > .work-list-pages__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-list-pages__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list-pages__link:hover, .work-list-pages__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-pages__work-title,
.work-list-pages__work-dicript {
  padding: 0;
  margin: 0;
}

.work-list-pages__images {
  display: block;
  /* margin-bottom: 20px; */
}

.work-list-pages__work-title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.work-list-pages__work-dicript {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.work-list-pages__work-link-position {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-list-pages__work-link-discription {
  position: absolute;
  margin: 0;
  /* width: 322px; */
  padding: 63px 24px;
  /* height: 100%; */
  opacity: 0;
  /* text-align: center; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}

.work-list-pages__link:hover .work-list-pages__work-link-discription,
.work-list-pages__link:focus .work-list-pages__work-link-discription {
  transform: translatey(0);
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Делаем трансформацию  */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.modal__button-close-icon {
  display: block;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__button-close-icon,
.modal__button-close:focus .modal__button-close-icon {
  fill: #2196f3;
}

.modal__title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-modal__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input--position {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.form-modal__input--position::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__input:hover, .form-modal__input:focus {
  border-color: #2196f3;
}

.form-modal__user-name,
.form-modal__tel-namber,
.form-modal__email {
  position: relative;
  margin-bottom: 10px;
}

.form-modal__icon-person,
.form-modal__icon-phone,
.form-modal__icon-email {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__user-name:hover .form-modal__icon-person,
.form-modal__user-name:focus-within .form-modal__icon-person {
  fill: #2196f3;
}

.form-modal__tel-namber:hover .form-modal__icon-phone,
.form-modal__tel-namber:focus-within .form-modal__icon-phone {
  fill: #2196f3;
}

.form-modal__email:hover .form-modal__icon-email,
.form-modal__email:focus-within .form-modal__icon-email {
  fill: #2196f3;
}

.form-modal__checkbox-terms {
  margin-bottom: 30px;
}

.form-modal__fake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  transition-property: background-color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__icon-checkbox {
  fill: #fff;
}

.form-modal__link-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
}

.form-modal__terms {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.form-modal__checkbox:focus + .form-modal__fake {
  outline-color: #2196f3;
}

.form-modal__checkbox:checked + .form-modal__fake {
  background-color: #2196f3;
  outline-color: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #f5f4fa;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */