.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .contacts__item + .contacts__item {
    margin-left: 50px;
}

.contacts__mail,
.contacts__tel {
    display: flex;
    align-items: center;
}
.contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $title-text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $title-text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail {
    /* outline: 2px solid tomato; */
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail ,
.contacts__mail  {
    &:hover .contacts__icon-mail,
    &:focus .contacts__icon-mail{
        fill: $accent-color;
    }
    
}

.contacts__mail {
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts__tel,
.contacts__tel {
    &:hover .contacts__icon-tel,
    &:focus .contacts__icon-tel {
        fill: $accent-color;
    }
    
}

.contacts__tel {
    &:hover,
    &:focus{
        color: $accent-color;
    }
    
}