.filtr {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    /* outline: 2px solid tomato; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.filtr__item {
    margin-right: 8px;
}

.filtr__item:last-child {
    margin-right: 0;
}