.filtr {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  align-content: center;
  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.filtr__item {
  margin-right: 8px;
}

.filtr__item:last-child {
  margin-right: 0;
}
