.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  
}
.footer__logo-address {
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
    color: $primary-white-color;
}
.footer__adress {
    font-style: normal;
}
