.logo {
  display: block;
  color: $primary-text-color;
  text-decoration: none;
  font-family: $font-family-releway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}
.logo__position {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo__web {
  color: #2196f3;
}
