.peculiarities {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}
.peculiarities__item {
  max-width: 450px;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 354px;
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 270px;
  }
}

.peculiarities__item:nth-child(2n) {
  @media screen and (min-width: $tablet) {
    margin-right: 0;
  }
}
.peculiarities__item:nth-last-child(-n + 2) {
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}
//исправил проблему нижнего маржина в 30px на desktope
.peculiarities__item:nth-last-child(-n + 4) {
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.peculiarities__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.peculiarities__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
}

.peculiarities__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.peculiarities__discription {
  padding: 0;
  margin: 0;
  line-height: 1.71;
  color: $title-text-color;
}

// .peculiarities {
//     display: flex;
// }

// .peculiarities__item {
//     width: 270px;
// }

// .peculiarities__item:not(:last-child) {
//     margin-right: 30px;
// }
// .peculiarities__box {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 120px;
//     margin-bottom: 30px;
//     background-color: #f5f4fa;
// }

// .peculiarities__icon {
//     width: 70px;
//     height: 70px;
// }
// .peculiarities__title {
//     padding: 0;
//     margin: 0;
//     margin-bottom: 10px;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//     color: $primary-text-color;
// }

// .peculiarities__discription {
//     padding: 0;
//     margin: 0;
//     line-height: 1.71;
//     color: $title-text-color;
// }
