.section-works {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.section-works {
  display: none;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 90px;
  }
}
