
    $primary-text-color: #212121;
    $title-text-color: #757575;
    $accent-color: #2196f3;
    $primary-white-color: #ffffff;
    $button-color: #f5f4fa;
    $font-family-roboto: Roboto, sans-serif;
    $font-family-releway: Raleway, sans-serif;
